/*

!/legacy/
!/source/
!/webpack/

!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yaml
!/.firebaserc
!/.gitignore
!/.yarnrc
!/commands.sh
!/firebase.json
!/package-scripts.yml
!/package.json
!/webpack.config.babel.js
